---
layout: default
title: Nyheder
permalink: /nyheder/
orderby: 1
---
<!--
<div class="home">

  <h1 class="page-heading">Her har vi listet vores seneste nyheder</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


</div>
-->

{% for post in site.posts %}
<div class="post">

  <article class="post-content">
    <b>{{ post.title }}</b>
    {{ post.content }}
  </article>

</div>
<hr>
{% endfor %}


