<footer class="site-footer">
    <div class="container">
        <div class="col-md-6">
            <div class="footer-logo">KULSVIERGÅRDEN</div>
            <div class="footer-logo-text">SINCE 1897</div>
        </div>
        <div class="col-md-6 align-right">
            <a href="#"><span class="social rotate ion-social-facebook"></span></a>
            <a href="#"><span class="social rotate ion-social-instagram"></span></a>
        </div>
    </div>
    <div class="footer-text">
        Developed by Interactify | Designed by Milton Studio
    </div>
</footer>
