<footer class="site-footer">
    <div class="container">
        <div class="col-md-6">
            <div class="footer-logo">KULSVIERGÅRDEN</div>
            <div class="footer-logo-text">SINCE 1897</div>
        </div>
        <div class="col-md-6 align-right">
            <a href="#"><span class="social rotate ion-social-facebook"></span></a>
            <a href="#"><span class="social rotate ion-social-instagram"></span></a>
        </div>
    </div>
    <div class="footer-text">
        *At vero eos et accusamus et iusto odio dignissimos ducimus quis siliv praesentium voluptatum deleniti atque Privacy Policy, and Cookie Policy. <br>
        Developed by xxxxxxx | Designed by xxxxxxxx
    </div>
</footer>
