<header class="site-header" id="header">
    <div class="container">
        <div class="col-md-3">
            <div class="menu-btn-container">
                <a id="menuBtn">Menu</a>
            </div>
        </div>
        <div class="col-md-6 logo">
            Since <span id="logo"><a href="{{ site.baseurl }}/">KULSVIERGÅRDEN</a></span> 1897
        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="menu-container">
        <div class="container" id="menu">
            <div class="col-md-4">
                <div class="headline"><a href="{{ '/arrangementer' | prepend: site.baseurl }}">FACILITETER</a></div>
                {% assign sorted_pages = (site.faciliteter | sort: 'orderby') %}
                {% for my_page in sorted_pages %}
                    {% if my_page.title %}
                        <div class="link"><a href="{{ my_page.url | prepend: site.baseurl }}" class="page-link">- {{ my_page.title }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="headline"><a href="{{ '/arrangementer' | prepend: site.baseurl }}">ARRANGEMENTER</a></div>
                {% assign sorted_pages = (site.arrangementer | sort: 'orderby') %}
                {% for my_page in sorted_pages %}
                    {% if my_page.title %}
                        <div class="link"><a href="{{ my_page.url | prepend: site.baseurl }}" class="page-link">- {{ my_page.title }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% assign sorted_pages = (site.forside | sort: 'orderby') %}
                {% for page in sorted_pages %}
                    {% if page.title %}
                        {% if page.show_in_menu %}
                        <div class="headline"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
                <div class="headline">OM OS</div>
                {% assign sorted_pages = (site.om-os | sort: 'orderby') %}
                {% for my_page in sorted_pages %}
                    {% if my_page.title %}
                        <div class="link"><a href="{{ my_page.url | prepend: site.baseurl }}" class="page-link">- {{ my_page.title }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>




</header>
