body.ember-application .cms-control-pane, body.ember-application .cms-preview-pane {
    overflow-y: initial;
}

textarea {
    /*overflow-x: hidden;*/
}

body.ember-application .cms-navbar-bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.cms-control-pane {
    overflow-y: visible !important;
}

body.ember-application .cms-entry-editor {
    margin-bottom: 60px;
}
